.nStichyBody {
    height: 400dvh;
}

.nSticky {
    position: sticky;
    top: 0;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
    /* 제목은 자동, 나머지는 남은 공간 */
    margin: 0 auto;
    
    /* 항상 화면에 고정 */
}

.nHeadText {
    top: 0;
}

.nStickyContent {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.nSlide {
    position: absolute;
    font-size: 1rem;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
}

.nSlide.active {
    opacity: 1;
    transform: translateX(0);
}

.nText {
    width: 50%;
    height: 50%;
    /* 부모 경계 확인 */
}

/* 데스크톱 */
@media (min-width: 1025px) {
    #nHeadText {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        font-size: 60px;
        font-weight: bold;
    }

    /*카드 코드*/
    #necessity .box-height {
        height: 500px;
    }

    #necessity #necessityImage {
        width: 10em;
        height: 10em;
        object-fit: contain;
        object-position: center;
    }
}

/* 태블릿 */
@media (min-width: 486px) and (max-width: 1024px) {
    #nHeadText {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        font-size: 45px;
        font-weight: bold;
    }

    /*카드 코드*/
    #necessity .box-height {
        height: 300px;
    }

    #necessity #necessityImage {
        width: 7em;
        height: 7em;
        object-fit: contain;
        object-position: center;
    }
}

/* 스마트폰 */
@media (max-width: 485px) {
    #nHeadText {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    /*카드 코드*/
    #necessity .box-height {
        height: 180px;
    }

    #necessity #necessityImage {
        width: 3em;
        height: 3em;
        object-fit: contain;
        object-position: center;
    }
}


/* 구역 구분 코드 */
#necessity .divider {
    width: 100%;
    height: 2.5rem;
    background-color: #0000001a;
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow:
        inset 0 0.5emFF 1.5em #0000001a,
        inset 0 0.125em 0.5em #00000026;
}

/* 구역 구분 코드 종료*/

/*카드 코드*/
#necessity #box {
    width: 100%;
    height: 100%;
}

/*카드 코드 종료*/