.nStichyBody {
    height: 400dvh;
}

.nSticky {
    position: sticky;
    top: 0;
    height: 100dvh;
    /* 항상 화면에 고정 */
}

.nHeadText {
    top: 0;
}

.nStickyContent {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nSlide {
    position: absolute;
    font-size: 3rem;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
}

.nSlide.active {
    opacity: 1;
    transform: translateX(0);
}

/* 데스크톱 */
@media (min-width: 1025px) {
    #nHeadText {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        margin-left: 10%;
        font-size: 60px;
        font-weight: bold;
    }
}

/* 태블릿 */
@media (min-width: 486px) and (max-width: 1024px) {
    #nHeadText {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        margin-left: 10%;
        font-size: 45px;
        font-weight: bold;
    }
}

/* 스마트폰 */
@media (max-width: 485px) {
    #nHeadText {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
}


/* 구역 구분 코드 */
#necessity .divider {
    width: 100%;
    height: 2.5rem;
    background-color: #0000001a;
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow:
        inset 0 0.5emFF 1.5em #0000001a,
        inset 0 0.125em 0.5em #00000026;
}

/* 구역 구분 코드 종료*/

/*카드 코드*/


/*카드 코드 종료*/