* {
	font-family: pretendard;
}

.font-color-emphasis {
	color: #ff7042;
}

.bg-color-emphasis {
	background-color: #ff7042;
	color: white;
}

.bg-color-emphasis:hover,
.bg-color-emphasis:focus,
.bg-color-emphasis:active {
	background-color: #f85826;
    color: white;
}

.animationMent {
	opacity: 0;
	transition: all 1s;
}

#header {
	position: fixed;
	width: 100%;
	z-index: 5;
	background-color: #fff;
}

#main {
	position: relative;
	top: 58.6px;
}